NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=menna
GOOGLE_SHEET_ID=
GOOGLE_SHEET_GID=0
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_WEBHOOK_SECRET=replace-with-a-long-random-secret
GOOGLE_SHEETS_SYNC_ENABLED=false
GOOGLE_SHEETS_INITIAL_SYNC=false
GOOGLE_SHEETS_SYNC_INTERVAL_MS=60000
API_PREFIX=/api/v1
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
VITE_API_URL=http://localhost:4000/api/v1

